<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Invitación</title>
  </head>

  <body>
    <table
      style="
        max-width: 90%;
        padding: 10px;
        margin: 0 auto;
        border-collapse: collapse;
        overflow: hidden;
        border-color: #666666;
      "
      frame="box"
    >
      <tbody>
        <tr>
          <td style="background-color: #fff; border-radius: 5px; max-width: 70vw">
            <div style="width: 100%; margin: 0; height: 60px; text-align: center; background: #0c46c2">
              <img
                style="padding: 1.5em; width: 150px; margin: auto"
                src="https://cdn.financialomejor.com/img/logo.png"
                alt="Fináncialo Mejor"
              />
            </div>
            <div style="color: #34495e; margin: 4% 10% 2%; text-align: justify; font-family: sans-serif">
              <h2 style="color: #0c46c2; margin: 40px 0 24px">¡Bienvenid@ a Fináncialo Mejor!</h2>
              <p style="margin: 2px; font-size: 15px; line-height: 1.5">
                Queremos agradecerte por confiar en nosotros. A continuación encontras tu usuario y contraseña temporal
                para que puedas administrar tus servicios en nuestro
                <a href="https://admin-dev.financialomejor.com">dashboard</a>.
              </p>
              <div style="width: 100%; text-align: center; margin-top: 10px; display: flex; justify-content: center">
                <h3>Usuario:</h3>
                <h3 style="color: #0c46c2">{username}</h3>
              </div>
              <div style="width: 100%; text-align: center; margin-bottom: 10px; display: flex; justify-content: center">
                <h3>Contraseña:</h3>
                <h3 style="color: #0c46c2">{####}</h3>
              </div>
              <p style="margin: 2px; font-size: 15px; line-height: 1.5">
                No olvides cambiar tu contraseña al iniciar sesión por primera vez.
              </p>
              <p style="color: #b3b3b3; font-size: 12px; text-align: center; margin: 30px 0 0">
                Todos los derechos reservados
                <a href="http://financialomejor.com" target="_blank">financialomejor.com</a>
                2020
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
